Repository srsran/srsRAN_Project_helm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linuxptp image, grafana-deployment chart, metrics_server chart, linuxptp chart, ru_emulator chart, srsran-project chart

.gitlab-ci.yml:

#
# Copyright 2021-2023 Software Radio Systems Limited
#
# By using this file, you agree to the terms and conditions set
# forth in the LICENSE file which can be found at the top level of
# the distribution.
#

include:
  - project: softwareradiosystems/ci/tools
    ref: "20"
    file: .gitlab/ci-shared/setup/all.yml
  - project: softwareradiosystems/ci/tools
    ref: "20"
    file: .gitlab/ci-shared/features/all.yml
  - project: softwareradiosystems/ci/tools
    ref: "20"
    file: .gitlab/ci-shared/tools/tagger.yml

stages:
  - ci
  - static
  - child
  - release

################################################################################
## Images
################################################################################

linuxptp image:
  stage: child
  variables:
    LINUXPTP_VERSION: "v4.3"
    CT_VERSION: "1.0.4"
  rules:
    - if: $ON_MR
      changes:
        paths:
          - images/linuxptp/**/*
    - if: $ON_DEFAULT_BRANCH
      changes:
        paths:
          - images/linuxptp/**/*
        compare_to: refs/tags/latest
  trigger:
    include: images/linuxptp/.gitlab-ci.yml
    strategy: depend
  needs: []

################################################################################
## Charts
################################################################################

grafana-deployment chart:
  stage: child
  rules:
    - if: $ON_MR
      changes:
        paths:
          - .gitlab/ci/helm_utils.yml
          - charts/grafana/grafana-srsran/**/*
  trigger:
    include: charts/grafana/grafana-srsran/.gitlab-ci.yml
    strategy: depend
  needs: []

metrics_server chart:
  stage: child
  rules:
    - if: $ON_MR
      changes:
        paths:
          - .gitlab/ci/helm_utils.yml
          - charts/grafana/metrics_server/**/*
  trigger:
    include: charts/grafana/metrics_server/.gitlab-ci.yml
    strategy: depend
  needs: []

linuxptp chart:
  stage: child
  rules:
    - if: $ON_MR
      changes:
        paths:
          - .gitlab/ci/helm_utils.yml
          - charts/linuxptp/**/*
  trigger:
    include: charts/linuxptp/.gitlab-ci.yml
    strategy: depend
  needs: []

ru_emulator chart:
  stage: child
  rules:
    - if: $ON_MR
      changes:
        paths:
          - .gitlab/ci/helm_utils.yml
          - charts/ru_emulator/**/*
  trigger:
    include: charts/ru_emulator/.gitlab-ci.yml
    strategy: depend
  needs: []

srsran-project chart:
  stage: child
  rules:
    - if: $ON_MR
      changes:
        paths:
          - .gitlab/ci/helm_utils.yml
          - charts/srsran-project/**/*
    - if: $CI_DESCRIPTION =~ /Synchronization with srsGNB/
      variables:
        CI_DESCRIPTION: $CI_DESCRIPTION
  trigger:
    include: charts/srsran-project/.gitlab-ci.yml
    strategy: depend
  needs: []

################################################################################
## Tags
################################################################################

create-latest-tag:
  extends: .create-tag
  stage: release
  rules:
    - if: $ON_DEFAULT_BRANCH
  script:
    - delete_tag_if_exist latest
    - create_tag latest

helm srsran: Update config default values for new release
  charts/srsran-project/values.yaml
Due: srsran-project chart

helm grafana: Add srsRAN license header
  charts/grafana/grafana-deployment/Chart.yaml
Due: none

images srsran: Fix DPDK linking in srsran build
  images/Ubuntu-2204/OFH/Dockerfile
Due: none

ci: change if rules when sync with gnb pipeline
  .gitlab-ci.yml
  charts/srsran-project/.gitlab-ci.yml
Due: srsran-project chart

ci: change if rules when sync with gnb pipeline
  .gitlab-ci.yml
Due: none

helm open5gs: Add example values.yaml for Gradient Open5GS helm chart
  charts/open5gs/5gSA-values.yaml
Due: none

helm srsran: Fix configmap values for booleans
  charts/srsran-project/templates/configmap.yml
Due: srsran-project chart

helm linuxptp: Update container version and linuxptp version
  .gitlab-ci.yml
Due: none

helm linuxptp: Remove hardcoded update rate for sink
  charts/linuxptp/resources/entrypoint-phc2sys.sh
Due: linuxptp chart

helm srsran: Modify hostNetwork from values.yaml
  charts/srsran-project/templates/deployment.yaml
  charts/srsran-project/values.yaml
Due: srsran-project chart

helm srsran: Add volume for persistant storage
  charts/srsran-project/templates/deployment.yaml
  charts/srsran-project/values.yaml
Due: srsran-project chart

ci: only allow config checker to fail in MR
  charts/srsran-project/.gitlab-ci.yml
Due: srsran-project chart

helm linuxptp: Remove -2 from entry point of ptp4l
  charts/linuxptp/templates/deployment.yaml
Due: linuxptp chart

ci: update configuration
  .gitlab/configuration.json
Due: none

helm linuxptp: Update Ubuntu version to 24.04 and downgrade to linuxptp 4.0
  images/linuxptp/Dockerfile
Due: linuxptp image

helm ru_emulator: Initial version of helm chart
  charts/ru_emulator/Chart.yaml
  charts/ru_emulator/templates/_helpers.tpl
  charts/ru_emulator/templates/configmap.yaml
  charts/ru_emulator/templates/deployment.yaml
  charts/ru_emulator/values.yaml
Due: ru_emulator chart

helm grafana: Set image and tag of influxdb in values.yaml
  charts/grafana/grafana-srsran/values.yaml
Due: grafana-deployment chart

images ubuntu: remove dockerfiles due to new location in main repo
  .gitlab-ci.yml
  README.md
  images/README.md
  images/Ubuntu-2204/.gitlab-ci.yml
  images/Ubuntu-2204/OFH/Dockerfile
  images/Ubuntu-2204/README.md
  images/Ubuntu-2204/UHD/Dockerfile
Due: none

check if configMap in sync with gnb
  .gitlab-ci.yml
  .gitlab/ci/checkers/.gitignore
  .gitlab/ci/checkers/generate_config.py
  .gitlab/ci/checkers/generate_from_chart_values.py
Due: none

helm srsran: Update configmap for srsRAN config
  charts/srsran-project/templates/configmap.yml
Due: srsran-project chart

helm srsran: Fix issues in configmap.yaml and remove comments
  charts/grafana/grafana-deployment/values.yaml
  charts/srsran-project/templates/configmap.yml
Due: srsran-project chart

ci: update tools reference
  .gitlab-ci.yml
  images/linuxptp/.gitlab-ci.yml
Due: linuxptp image

helm metrics_server: Update default values of values.yaml
  charts/grafana/metrics_server/values.yaml
Due: metrics_server chart

helm srsran: Activate hugepages and autostart_stdout_metrics
  charts/srsran-project/templates/deployment.yaml
Due: srsran-project chart

helm srsran: Add multicell support to configmap
  charts/srsran-project/templates/configmap.yml
Due: srsran-project chart

helm grafana: Initial version of srsran Grafana Metrics server
  charts/grafana/grafana-deployment/Chart.yaml
  charts/grafana/grafana-deployment/values.yaml
  charts/grafana/metrics_server/Chart.yaml
  charts/grafana/metrics_server/templates/_helpers.tpl
  charts/grafana/metrics_server/templates/deployment.yaml
  charts/grafana/metrics_server/templates/service.yaml
  charts/grafana/metrics_server/values.yaml
Due: metrics_server chart

helm metrics_server: Add srsRAN license header
  charts/grafana/metrics_server/Chart.yaml
  charts/grafana/metrics_server/templates/_helpers.tpl
  charts/grafana/metrics_server/templates/deployment.yaml
  charts/grafana/metrics_server/templates/service.yaml
  charts/grafana/metrics_server/values.yaml
Due: metrics_server chart

helm grafana: Fix datasource example
  charts/grafana/grafana-deployment/Chart.yaml
  charts/grafana/grafana-deployment/values.yaml
Due: none

hem grafana: Change path of helm chart
  .gitlab-ci.yml
  charts/grafana/grafana-srsran/.gitlab-ci.yml
  charts/grafana/grafana-srsran/Chart.yaml
  charts/grafana/grafana-srsran/values.yaml
Due: grafana-deployment chart

readme: Fix size of AGPL v3 License banner
  README.md
Due: none

helm srsran: Set dnsPolicy to ClusterFirstWithHostNet to enable hostname resolution
  charts/srsran-project/templates/deployment.yaml
Due: srsran-project chart

helm srsran: Fix errors in configmap
  charts/srsran-project/templates/configmap.yml
Due: srsran-project chart

helm srsran: Only mount hugepages in case hal args a specified
  charts/srsran-project/templates/deployment.yaml
Due: srsran-project chart

helm srsran: Update slicing part in configmap
  charts/srsran-project/templates/configmap.yml
Due: srsran-project chart

ci: helm lint and linuxptp push fixed
  .gitlab-ci.yml
  .gitlab/ci/helm_utils.yml
  charts/grafana/grafana-deployment/.gitlab-ci.yml
  charts/grafana/metrics_server/.gitlab-ci.yml
  charts/linuxptp/.gitlab-ci.yml
  charts/ru_emulator/.gitlab-ci.yml
  charts/srsran-project/.gitlab-ci.yml
  images/linuxptp/.gitlab-ci.yml
Due: linuxptp image, grafana-deployment chart, metrics_server chart, linuxptp chart, ru_emulator chart, srsran-project chart

images srsran: Change default DPDK version to 23.11 for OFH container
  images/Ubuntu-2204/OFH/Dockerfile
Due: none

helm linuxptp: Bump linuxptp version to v4.3
  images/linuxptp/Dockerfile
Due: linuxptp image

images ru_emulator: Add ru_emulator image
  images/ru_emulator/Dockerfile
Due: none

helm srsran: Move autostart metrics to config
  charts/srsran-project/templates/deployment.yaml
  charts/srsran-project/values.yaml
Due: srsran-project chart

fix print config
  .gitlab/ci/checkers/generate_config.py
Due: none
