Repository srsran/srsRAN_Project_helm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Ubuntu-22.04-UHD, Ubuntu-22.04-OFH, linuxptp

.gitlab-ci.yml:

include:
  - project: softwareradiosystems/ci/tools
    ref: "12"
    file: .gitlab/ci-shared/setup/all.yml
  - project: softwareradiosystems/ci/tools
    ref: "12"
    file: .gitlab/ci-shared/features/all.yml
  - project: softwareradiosystems/ci/tools
    ref: "12"
    file: .gitlab/ci-shared/tools/tagger.yml

stages:
  - ci
  - static
  - child
  - release

################################################################################
## Launch Downstream
################################################################################

.ubuntu-22.04:
  stage: child
  variables:
    SRSRAN_VERSION: "2023.5"
    CONTEXT: "/builds/softwareradiosystems/ci/srsgnb_k8s/images"
    UHD_VERSION: "UHD-4.1"
    DPDK_VERSION: "dpdk-23.07"
    SOFTWARE_USED: ""
  trigger:
    include: images/Ubuntu-2204/.gitlab-ci.yml
    strategy: depend
  needs: []

Ubuntu-22.04-UHD:
  extends: .ubuntu-22.04
  rules:
    - if: $ON_MR
      changes:
        paths:
          - images/Ubuntu-2204/UHD/**/*
          - images/Ubuntu-2204/.gitlab-ci.yml
    - if: $ON_DEFAULT_BRANCH
      changes:
        paths:
          - images/Ubuntu-2204/UHD/**/*
          - images/Ubuntu-2204/.gitlab-ci.yml
        compare_to: refs/tags/latest
  variables:
    DOCKERFILE: "images/Ubuntu-2204/UHD"
    CT_VERSION: "1.0.0"
    SOFTWARE_USED: $UHD_VERSION

Ubuntu-22.04-OFH:
  extends: .ubuntu-22.04
  rules:
    - if: $ON_MR
      changes:
        paths:
          - images/Ubuntu-2204/OFH/**/*
          - images/Ubuntu-2204/.gitlab-ci.yml
    - if: $ON_DEFAULT_BRANCH
      changes:
        paths:
          - images/Ubuntu-2204/OFH/**/*
          - images/Ubuntu-2204/.gitlab-ci.yml
        compare_to: refs/tags/latest
  variables:
    DOCKERFILE: "images/Ubuntu-2204/OFH"
    CT_VERSION: "1.0.0"
    SOFTWARE_USED: $DPDK_VERSION

linuxptp:
  stage: child
  variables:
    LINUXPTP_VERSION: "v4.1"
    CT_VERSION: "1.0.0"
  rules:
    - if: $ON_MR
      changes:
        paths:
          - images/linuxptp/**/*
    - if: $ON_DEFAULT_BRANCH
      changes:
        paths:
          - images/linuxptp/**/*
        compare_to: refs/tags/latest
  trigger:
    include: images/linuxptp/.gitlab-ci.yml
    strategy: depend
  needs: []

################################################################################
## Tags
################################################################################

create-latest-tag:
  extends: .create-tag
  stage: release
  rules:
    - if: $ON_DEFAULT_BRANCH
  script:
    - delete_tag_if_exist latest
    - create_tag latest

Add Helm chart for linuxptp container
  helmchart/linuxptp/CAHNGELOG.md
  helmchart/linuxptp/Chart.yaml
  helmchart/linuxptp/README.md
  helmchart/linuxptp/entrypoint.sh
  helmchart/linuxptp/linuxptp.cfg
  helmchart/linuxptp/templates/_helpers.tpl
  helmchart/linuxptp/templates/configmap.yml
  helmchart/linuxptp/templates/deployment.yaml
  helmchart/linuxptp/templates/serviceaccount.yaml
  helmchart/linuxptp/values.yaml
Due: none

linuxptp, helm: Convert Deployment to DaemonSet
  charts/linuxptp/templates/deployment.yaml
  charts/linuxptp/values.yaml
Due: none

ci: Fix repo name of Ubuntu containers
  images/Ubuntu-2204/.gitlab-ci.yml
Due: Ubuntu-22.04-UHD, Ubuntu-22.04-OFH

image srsran UHD: Run image download on create of image
  images/Ubuntu-2204/UHD/Dockerfile
Due: Ubuntu-22.04-UHD

helm linuxptp: Refactor values and config
  charts/linuxptp/linuxptp.cfg
  charts/linuxptp/resources/entrypoint.sh
  charts/linuxptp/templates/configmap.yml
  charts/linuxptp/values.yaml
Due: none

ci: Bumb versions of linuxptp and srsran images
  .gitlab-ci.yml
Due: none

helm: Change values in values.yml
  charts/linuxptp/values.yaml
  charts/srsran-project/gnb-config-uhd.yml.example
  charts/srsran-project/values.yaml
Due: none

Add pipelines for building OFH and UHD ubuntu docker
  .gitlab-ci.yml
  .gitmodules
  images/Ubuntu-2204/.gitlab-ci.yml
  images/Ubuntu-2204/OFH/Dockerfile
  images/Ubuntu-2204/UHD/Dockerfile
Due: Ubuntu-22.04-UHD, Ubuntu-22.04-OFH

helm: rename changelog file
  helmchart/linuxptp/CHANGELOG.md
  helmchart/srsran-project/CHANGELOG.md
Due: none

images: remove open5gs, update linuxptp Dockerfile
  images/linuxptp/Dockerfile
  images/open5gs/Dockerfile
  images/open5gs/open5gs_entrypoint.sh
Due: linuxptp

Add pipeline for linuxptp image
  .gitlab-ci.yml
  images/linuxptp/.gitlab-ci.yml
  images/linuxptp/Dockerfile
  images/open5gs/Dockerfile
  images/open5gs/open5gs_entrypoint.sh
Due: linuxptp

helm srsran: Remove unnecessary configs
  charts/srsran-project/gnb-config-uhd.yml.example
  charts/srsran-project/gnb-config.yml
  charts/srsran-project/orange_config.yml
Due: none

ci: Refactor comments and settings
  helmchart/linuxptp/Chart.yaml
  helmchart/linuxptp/entrypoint.sh
  helmchart/linuxptp/linuxptp.cfg
  helmchart/linuxptp/values.yaml
  helmchart/srsran-project/Chart.yaml
  helmchart/srsran-project/gnb-config.yml
  helmchart/srsran-project/templates/_helpers.tpl
  helmchart/srsran-project/templates/deployment.yaml
  helmchart/srsran-project/templates/serviceaccount.yaml
  helmchart/srsran-project/values.yaml
Due: none

helm: Updated version and README for release of v1.0.0
  charts/linuxptp/CHANGELOG.md
  charts/linuxptp/Chart.yaml
  charts/linuxptp/README.md
  charts/srsran-project/CHANGELOG.md
  charts/srsran-project/Chart.yaml
  charts/srsran-project/README.md
Due: none

ci: Change repo URI to public docker hub
  images/Ubuntu-2204/.gitlab-ci.yml
  images/linuxptp/.gitlab-ci.yml
Due: Ubuntu-22.04-UHD, Ubuntu-22.04-OFH, linuxptp

ci: Append platform suffix to image tag
  images/Ubuntu-2204/.gitlab-ci.yml
Due: Ubuntu-22.04-UHD, Ubuntu-22.04-OFH

Add README.md file
  README.md
Due: none

helm linuxptp: Fix default image tag
  charts/linuxptp/values.yaml
Due: none

helm srsran: Update config default values for new release
  charts/srsran-project/templates/configmap.yml
  charts/srsran-project/values.yaml
Due: none

helm srsran: Disable requests in values.yaml
  charts/srsran-project/values.yaml
Due: none

helm srsran: Disable gnb_id_bit_length in values.yaml
  charts/srsran-project/values.yaml
Due: none

helm linuxptp: Remove comments
  charts/linuxptp/templates/deployment.yaml
Due: none

helm srsran: Fix problem with license header
  charts/srsran-project/templates/serviceaccount.yaml
Due: none

helm srsran: Disable hugepages
  charts/srsran-project/templates/deployment.yaml
Due: none

helm srsran: Fix default image tag
  charts/srsran-project/values.yaml
Due: none

helm linuxptp: Fix bug with license header
  charts/linuxptp/templates/serviceaccount.yaml
Due: none

gh pages: Add _config.yml
  _config.yml
Due: none

gh pages: Add index.yaml
  index.yaml
Due: none

gh pages: Add index.md
  index.md
Due: none

helm grafana: Add dashboard file
  home.json
Due: none

helm srsran: Add multicell support to configmap
  charts/srsran-project/templates/configmap.yml
Due: none
