Repository srsran/srsRAN_Project_helm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linuxptp image, grafana-deployment chart, metrics_server chart, linuxptp chart, ru_emulator chart, srsran-project chart

.gitlab-ci.yml:

#
# Copyright 2021-2023 Software Radio Systems Limited
#
# By using this file, you agree to the terms and conditions set
# forth in the LICENSE file which can be found at the top level of
# the distribution.
#

include:
  - project: softwareradiosystems/ci/tools
    ref: "20"
    file: .gitlab/ci-shared/setup/all.yml
  - project: softwareradiosystems/ci/tools
    ref: "20"
    file: .gitlab/ci-shared/features/all.yml
  - project: softwareradiosystems/ci/tools
    ref: "20"
    file: .gitlab/ci-shared/tools/tagger.yml

stages:
  - ci
  - static
  - child
  - release

################################################################################
## Images
################################################################################

linuxptp image:
  stage: child
  variables:
    LINUXPTP_VERSION: "v4.3"
    CT_VERSION: "1.0.4"
  rules:
    - if: $ON_MR
      changes:
        paths:
          - images/linuxptp/**/*
    - if: $ON_DEFAULT_BRANCH
      changes:
        paths:
          - images/linuxptp/**/*
        compare_to: refs/tags/latest
  trigger:
    include: images/linuxptp/.gitlab-ci.yml
    strategy: depend
  needs: []

################################################################################
## Charts
################################################################################

grafana-deployment chart:
  stage: child
  rules:
    - if: $ON_MR
      changes:
        paths:
          - .gitlab/ci/helm_utils.yml
          - charts/grafana/grafana-srsran/**/*
  trigger:
    include: charts/grafana/grafana-srsran/.gitlab-ci.yml
    strategy: depend
  needs: []

metrics_server chart:
  stage: child
  rules:
    - if: $ON_MR
      changes:
        paths:
          - .gitlab/ci/helm_utils.yml
          - charts/grafana/metrics_server/**/*
  trigger:
    include: charts/grafana/metrics_server/.gitlab-ci.yml
    strategy: depend
  needs: []

linuxptp chart:
  stage: child
  rules:
    - if: $ON_MR
      changes:
        paths:
          - .gitlab/ci/helm_utils.yml
          - charts/linuxptp/**/*
  trigger:
    include: charts/linuxptp/.gitlab-ci.yml
    strategy: depend
  needs: []

ru_emulator chart:
  stage: child
  rules:
    - if: $ON_MR
      changes:
        paths:
          - .gitlab/ci/helm_utils.yml
          - charts/ru_emulator/**/*
  trigger:
    include: charts/ru_emulator/.gitlab-ci.yml
    strategy: depend
  needs: []

srsran-project chart:
  stage: child
  rules:
    - if: $ON_MR
      changes:
        paths:
          - .gitlab/ci/helm_utils.yml
          - charts/srsran-project/**/*
    - if: $CI_DESCRIPTION =~ /Synchronization with srsGNB/
      variables:
        CI_DESCRIPTION: $CI_DESCRIPTION
  trigger:
    include: charts/srsran-project/.gitlab-ci.yml
    strategy: depend
  needs: []

################################################################################
## Tags
################################################################################

create-latest-tag:
  extends: .create-tag
  stage: release
  rules:
    - if: $ON_DEFAULT_BRANCH
  script:
    - delete_tag_if_exist latest
    - create_tag latest

helm srsran: update image name
  charts/ru_emulator/values.yaml
  charts/srsran-project/values.yaml
  images/ru_emulator/Dockerfile
Due: ru_emulator chart, srsran-project chart

ci: fix entrypoint for helm image
  .gitlab/ci/helm_utils.yml
Due: grafana-deployment chart, metrics_server chart, linuxptp chart, ru_emulator chart, srsran-project chart

helm srsgnb: change parameters
  charts/srsran-project/templates/configmap.yml
Due: srsran-project chart

images linuxptp: Add ts2phc image including liveness probe script
  .gitlab-ci.yml
  images/linuxptp/Dockerfile
  images/linuxptp/scripts/liveness-ts2phc.sh
Due: linuxptp image

helm linuxptp: Update default image tag
  charts/linuxptp/values.yaml
Due: linuxptp chart

helm linuxptp: Add ts2phc to linuxptp helm chart
  charts/linuxptp/resources/entrypoint-ts2phc.sh
  charts/linuxptp/templates/configmap.yml
  charts/linuxptp/templates/deployment.yaml
  charts/linuxptp/values.yaml
Due: linuxptp chart

helm linuxptp: Set ts2phc to disabled by default
  charts/linuxptp/values.yaml
Due: linuxptp chart

helm srsran: Fix number conversion of nof_segments
  charts/srsran-project/templates/configmap.yml
Due: srsran-project chart

helm linuxptp: Set priorityClassName to system-node-critical
  charts/linuxptp/templates/deployment.yaml
Due: linuxptp chart

helm grafana: Fix metrics-server image name
  charts/grafana/metrics_server/values.yaml
Due: metrics_server chart

helm srsran: Append suffix to log and pcap filenames
  charts/srsran-project/templates/configmap.yml
Due: srsran-project chart

Update configmap.yml - qos + prach ports list fix
  charts/srsran-project/templates/configmap.yml
Due: srsran-project chart

Update deployment.yaml - fix debugging enabled issue
  charts/srsran-project/templates/deployment.yaml
Due: srsran-project chart

Update values.yaml - vlan_tag fix
  charts/srsran-project/values.yaml
Due: srsran-project chart

Update configmap.yml - fixed dash issue
  charts/srsran-project/templates/configmap.yml
Due: srsran-project chart

Update values.yaml - qos default/example
  charts/srsran-project/values.yaml
Due: srsran-project chart

Update configmap.yml - fixed bugs in qos section
  charts/srsran-project/templates/configmap.yml
Due: srsran-project chart

srsran: remove default value for ru_bandwidth
  charts/srsran-project/values.yaml
Due: srsran-project chart

helm srsran: Write configmap directly from values.yaml file
  charts/srsran-project/templates/configmap.yml
  charts/srsran-project/values.yaml
Due: srsran-project chart

ci: Disable srsran Project configmap checker job
  charts/srsran-project/.gitlab-ci.yml
Due: srsran-project chart

helm srsran: Update default config to current release (24.10)
  charts/srsran-project/templates/deployment.yaml
  charts/srsran-project/values.yaml
Due: srsran-project chart

srsran helm: Bump to new version and add Changelog for v1.1.0
  charts/srsran-project/CHANGELOG.md
  charts/srsran-project/Chart.yaml
Due: srsran-project chart

helm open5gs: Update values.yaml file to version 2.0.8 (from Gradient)
  charts/open5gs/5gSA-values.yaml
Due: none

grafana helm: Bump to new version
  charts/grafana/grafana-srsran/Chart.yaml
  charts/grafana/metrics_server/Chart.yaml
Due: grafana-deployment chart, metrics_server chart

linuxptp helm: Bump to new version
  charts/linuxptp/Chart.yaml
Due: linuxptp chart

ru_emulator helm: Bump to new version
  charts/ru_emulator/Chart.yaml
Due: ru_emulator chart

ci: remove sync gnb scheduled pipeline
  .gitlab-ci.yml
  charts/srsran-project/.gitlab-ci.yml
Due: srsran-project chart

helm srsran/linuxptp: Raise min K8s version to 1.24
  charts/linuxptp/Chart.yaml
  charts/srsran-project/Chart.yaml
Due: linuxptp chart, srsran-project chart

Update licnese header
  charts/grafana/grafana-srsran/.gitlab-ci.yml
  charts/grafana/grafana-srsran/Chart.yaml
  charts/grafana/grafana-srsran/values.yaml
  charts/grafana/metrics_server/.gitlab-ci.yml
  charts/grafana/metrics_server/Chart.yaml
  charts/grafana/metrics_server/templates/_helpers.tpl
  charts/grafana/metrics_server/templates/deployment.yaml
  charts/grafana/metrics_server/templates/service.yaml
  charts/grafana/metrics_server/values.yaml
  charts/linuxptp/.gitlab-ci.yml
  charts/linuxptp/Chart.yaml
  charts/linuxptp/resources/entrypoint-phc2sys.sh
  charts/linuxptp/resources/entrypoint-ts2phc.sh
  charts/linuxptp/templates/_helpers.tpl
  charts/linuxptp/templates/configmap.yml
  charts/linuxptp/templates/deployment.yaml
  charts/linuxptp/templates/serviceaccount.yaml
  charts/linuxptp/values.yaml
  charts/open5gs/5gSA-values.yaml
  charts/ru_emulator/.gitlab-ci.yml
  charts/ru_emulator/Chart.yaml
  charts/ru_emulator/templates/_helpers.tpl
  charts/ru_emulator/templates/deployment.yaml
  charts/ru_emulator/values.yaml
  charts/srsran-project/.gitlab-ci.yml
  charts/srsran-project/Chart.yaml
  charts/srsran-project/templates/_helpers.tpl
  charts/srsran-project/templates/deployment.yaml
  charts/srsran-project/templates/serviceaccount.yaml
  charts/srsran-project/values.yaml
Due: grafana-deployment chart, metrics_server chart, linuxptp chart, ru_emulator chart, srsran-project chart

helm linuxptp: Remove default namespace
  charts/linuxptp/templates/deployment.yaml
Due: linuxptp chart

gh pages: Add index.yaml
  index.yaml
Due: none

gh pages: Add version 1.1.0 of LinuxPTP and srsRAN Project Helm charts
  index.yaml
Due: none

gh pages: Add _config.yml
  _config.yml
Due: none

gh pages: Add index.md
  index.md
Due: none

grafana helm: Access grafana using anonymous user (no passwd)
  charts/grafana/grafana-srsran/values.yaml
Due: grafana-deployment chart

helm grafana: Move charts to different folder
  .gitlab-ci.yml
  charts/grafana-srsran/.gitlab-ci.yml
  charts/grafana-srsran/Chart.lock
  charts/grafana-srsran/Chart.yaml
  charts/grafana-srsran/values.yaml
  charts/metrics_server/.gitlab-ci.yml
  charts/metrics_server/Chart.yaml
  charts/metrics_server/templates/_helpers.tpl
  charts/metrics_server/templates/deployment.yaml
  charts/metrics_server/templates/service.yaml
  charts/metrics_server/values.yaml
Due: none

helm grafana: Use official metrics server release from SRS repo
  charts/grafana-srsran/Chart.yaml
Due: none

helm grafana: Remove Chart.lock
  charts/grafana-srsran/Chart.lock
Due: none

gh pages: Add Metrics Server release
  index.yaml
Due: none
