Repository srsran/srsRAN_Project_helm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linuxptp image, grafana-deployment chart, metrics_server chart, linuxptp chart, ru_emulator chart, srsran-project chart

.gitlab-ci.yml:

#
# Copyright 2021-2025 Software Radio Systems Limited
#
# By using this file, you agree to the terms and conditions set
# forth in the LICENSE file which can be found at the top level of
# the distribution.
#

include:
  - project: softwareradiosystems/ci/tools
    ref: "21"
    file: .gitlab/ci-shared/setup/all.yml
  - project: softwareradiosystems/ci/tools
    ref: "21"
    file: .gitlab/ci-shared/features/all.yml
  - project: softwareradiosystems/ci/tools
    ref: "21"
    file: .gitlab/ci-shared/tools/tagger.yml

stages:
  - ci
  - static
  - child
  - release

################################################################################
## Images
################################################################################

linuxptp image:
  stage: child
  variables:
    LINUXPTP_VERSION: "v4.3"
    CT_VERSION: "1.1.1"
  rules:
    - if: $ON_MR
      changes:
        paths:
          - images/linuxptp/**/*
    - if: $ON_DEFAULT_BRANCH
      changes:
        paths:
          - images/linuxptp/**/*
        compare_to: refs/tags/latest
  trigger:
    include: images/linuxptp/.gitlab-ci.yml
    strategy: depend
  needs: []

################################################################################
## Charts
################################################################################

grafana-deployment chart:
  stage: child
  rules:
    - if: $ON_MR
      changes:
        paths:
          - .gitlab/ci/helm_utils.yml
          - charts/grafana-srsran/**/*
  trigger:
    include: charts/grafana-srsran/.gitlab-ci.yml
    strategy: depend
  needs: []

metrics_server chart:
  stage: child
  rules:
    - if: $ON_MR
      changes:
        paths:
          - .gitlab/ci/helm_utils.yml
          - charts/metrics_server/**/*
  trigger:
    include: charts/metrics_server/.gitlab-ci.yml
    strategy: depend
  needs: []

linuxptp chart:
  stage: child
  rules:
    - if: $ON_MR
      changes:
        paths:
          - .gitlab/ci/helm_utils.yml
          - charts/linuxptp/**/*
  trigger:
    include: charts/linuxptp/.gitlab-ci.yml
    strategy: depend
  needs: []

ru_emulator chart:
  stage: child
  rules:
    - if: $ON_MR
      changes:
        paths:
          - .gitlab/ci/helm_utils.yml
          - charts/ru_emulator/**/*
  trigger:
    include: charts/ru_emulator/.gitlab-ci.yml
    strategy: depend
  needs: []

srsran-project chart:
  stage: child
  rules:
    - if: $ON_MR
      changes:
        paths:
          - .gitlab/ci/helm_utils.yml
          - charts/srsran-project/**/*
  trigger:
    include: charts/srsran-project/.gitlab-ci.yml
    strategy: depend
  needs: []

################################################################################
## Tags
################################################################################

create-latest-tag:
  extends: .create-tag
  stage: release
  rules:
    - if: $ON_DEFAULT_BRANCH
  script:
    - delete_tag_if_exist latest
    - create_tag latest

images linuxptp: Bump version of linuxptp to v4.4
  images/linuxptp/Dockerfile
Due: linuxptp image

helm metrics-server: Set log level from values.yaml
  charts/metrics_server/templates/deployment.yaml
  charts/metrics_server/values.yaml
Due: metrics_server chart

images linuxptp: Bump version of container to 1.1.2
  .gitlab-ci.yml
Due: none

helm linuxptp: Add functionality to use multiple interfaces in LLS-C1 for ptp4l
  charts/linuxptp/README.md
  charts/linuxptp/templates/configmap.yml
  charts/linuxptp/templates/deployment.yaml
  charts/linuxptp/values.yaml
Due: linuxptp chart

helm grafna: Update metrics server release
  charts/grafana-srsran/Chart.yaml
  charts/grafana-srsran/values.yaml
Due: grafana-deployment chart

helm grafana: Expoes Grafana UI as NodePort
  charts/grafana-srsran/values.yaml
Due: grafana-deployment chart

helm open5gs: Expoes Open5GS UI as NodePort
  charts/open5gs/5gSA-values.yaml
Due: none

srsran: update PID of the gNB process before calling kill
  charts/srsran-project/resources/entrypoint.sh
Due: srsran-project chart

srsran: update entrypoint to return exitcode of gnb process
  charts/srsran-project/resources/entrypoint.sh
Due: srsran-project chart

charts: update rt-tests, add resource requirements
  charts/rt-tests/values.yaml
Due: none

helm,tuned: Add initial version of tuned helm chart
  charts/tuned/Chart.yaml
  charts/tuned/templates/_helpers.tpl
  charts/tuned/templates/configmap.yaml
  charts/tuned/templates/daemonset.yaml
  charts/tuned/templates/serviceaccount.yaml
  charts/tuned/values.yaml
Due: none

images,tuned: Add pipeline to add tuned image
  .gitlab-ci.yml
  images/tuned/.gitlab-ci.yml
  images/tuned/Dockerfile
Due: none

helm,linuxptp: Refactor configMap naming to deploy multiple instances
  charts/linuxptp/templates/_helpers.tpl
  charts/linuxptp/templates/configmap.yml
  charts/linuxptp/templates/deployment.yaml
  charts/linuxptp/values.yaml
Due: linuxptp chart

helm,ru-emu: Refactor configMap naming to deploy multiple instances
  charts/ru_emulator/templates/_helpers.tpl
  charts/ru_emulator/templates/configmap.yaml
  charts/ru_emulator/templates/deployment.yaml
  charts/ru_emulator/values.yaml
Due: ru_emulator chart

helm,ru-tests: Refactor configMap naming to deploy multiple instances
  charts/rt-tests/templates/_helpers.tpl
  charts/rt-tests/templates/configmap.yml
  charts/rt-tests/templates/job.yml
  charts/rt-tests/values.yaml
Due: none

helm,srsran-project: Refactor configMap naming to deploy multiple instances
  charts/srsran-project/templates/_helpers.tpl
  charts/srsran-project/templates/configmap.yml
  charts/srsran-project/templates/deployment.yaml
  charts/srsran-project/values.yaml
Due: srsran-project chart

images,tuned: Fix name of dockerhub repo
  images/tuned/.gitlab-ci.yml
Due: none

helm,srsran: Refactor entrypoint script to update HAL section
  charts/srsran-project/resources/entrypoint.sh
Due: srsran-project chart

helm,srsran: Bump srsran to version 2.2.0
  charts/srsran-project/Chart.yaml
  charts/srsran-project/values.yaml
Due: srsran-project chart

helm,srsran: Update Changelog
  charts/srsran-project/CHANGELOG.md
Due: srsran-project chart

helm,influx: Add helm chart for influxdb3
  charts/influxdb3/CHANGELOG.md
  charts/influxdb3/Chart.yaml
  charts/influxdb3/README.md
  charts/influxdb3/templates/_helpers.tpl
  charts/influxdb3/templates/deployment.yaml
  charts/influxdb3/templates/service.yaml
  charts/influxdb3/values.yaml
Due: none

helm,grafana: Replace metrics server with telegraf and use influxdb3
  charts/grafana-srsran/CHANGELOG.md
  charts/grafana-srsran/Chart.yaml
  charts/grafana-srsran/README.md
  charts/grafana-srsran/values.yaml
Due: grafana-deployment chart

helm,srsran: Add service for telegraf to srsran chart
  charts/srsran-project/templates/service-metrics.yaml
  charts/srsran-project/values.yaml
Due: srsran-project chart

helm,linuxptp: Fix piping of phc2sys values to logfile
  charts/linuxptp/resources/entrypoint-phc2sys.sh
Due: linuxptp chart

images,linuxptp: Fix liveness script error after upgrading phc2sys
  images/linuxptp/scripts/liveness-phc2sys.sh
Due: linuxptp image

images,linuxptp: Bumb container version to 1.1.3
  .gitlab-ci.yml
Due: none

helm,influxdb3: Add notes to README to create dir for persistance
  charts/influxdb3/README.md
Due: none

helm,linuxptp: Update Helm chart to 4.4_1.3.0
  charts/linuxptp/Chart.yaml
Due: linuxptp chart

gh pages: Add _config.yml
  _config.yml
Due: none

gh pages: Add index.yaml
  index.yaml
Due: none

gh_pages: Update all new versions and add new releases
  index.yaml
Due: none

gh pages: Add RU Emulator release
  index.yaml
Due: none

gh_pages: Add version 2.2.0 of srsran helm chart
  index.yaml
Due: none

gh_pages: Add influxdb3 chart
  index.yaml
Due: none

gh_pages: Add new metrics server release
  index.yaml
Due: none

gh pages: Add SRS Grafana release
  index.yaml
Due: none

gh pages: Add Metrics Server release
  index.yaml
Due: none

gh_pages: Add tuned chart
  index.yaml
Due: none

gh pages: Add version 1.1.0 of LinuxPTP and srsRAN Project Helm charts
  index.yaml
Due: none

gh pages: Add index.md
  index.md
Due: none
