Repository srsran/srsRAN_Project_helm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linuxptp image, rt-tests image, grafana-deployment chart, metrics_server chart, rt-tests chart, linuxptp chart, ru_emulator chart, srsran-project chart

linuxptp image:
  stage: child
  variables:
    LINUXPTP_VERSION: v4.4
    CT_VERSION: 1.1.2
  trigger:
    include: images/linuxptp/.gitlab-ci.yml
    strategy: depend
  needs: []

rt-tests image:
  stage: child
  variables:
    RT_TESTS_VERSION: v2.8
  trigger:
    include: images/rt-tests/.gitlab-ci.yml
    strategy: depend
  needs: []

grafana-deployment chart:
  stage: child
  trigger:
    include: charts/grafana-srsran/.gitlab-ci.yml
    strategy: depend
  needs: []

metrics_server chart:
  stage: child
  trigger:
    include: charts/metrics_server/.gitlab-ci.yml
    strategy: depend
  needs: []

rt-tests chart:
  stage: child
  trigger:
    include: charts/rt-tests/.gitlab-ci.yml
    strategy: depend
  needs: []

linuxptp chart:
  stage: child
  trigger:
    include: charts/linuxptp/.gitlab-ci.yml
    strategy: depend
  needs: []

ru_emulator chart:
  stage: child
  trigger:
    include: charts/ru_emulator/.gitlab-ci.yml
    strategy: depend
  needs: []

srsran-project chart:
  stage: child
  trigger:
    include: charts/srsran-project/.gitlab-ci.yml
    strategy: depend
  needs: []

gh_pages: Add version 4.4_1.3.0 of linuxptp helm chart
  index.yaml
Due: none

helm,srsran: Remove broken port definitions
  charts/srsran-project/templates/deployment.yaml
Due: srsran-project chart

helm,srsran: Change for O1 adapter with hostNetwork: False
  charts/srsran-project/templates/deployment.yaml
  charts/srsran-project/templates/service-o1.yaml
  charts/srsran-project/values-o1.yaml
Due: srsran-project chart

helm,smo: Add initial version of ONAP SMO
  charts/onap-smo-lite/CHANGELOG.md
  charts/onap-smo-lite/Chart.yaml
  charts/onap-smo-lite/README.md
  charts/onap-smo-lite/templates/_helpers.tpl
  charts/onap-smo-lite/templates/sdnc-web-deployment.yaml
  charts/onap-smo-lite/templates/sdnc-web-ingress.yaml
  charts/onap-smo-lite/templates/sdnc-web-service.yaml
  charts/onap-smo-lite/templates/sdnr-configmap.yaml
  charts/onap-smo-lite/templates/sdnr-deployment.yaml
  charts/onap-smo-lite/templates/sdnr-secret.yaml
  charts/onap-smo-lite/templates/sdnr-service.yaml
  charts/onap-smo-lite/templates/sdnrdb-deployment.yaml
  charts/onap-smo-lite/templates/sdnrdb-pvc.yaml
  charts/onap-smo-lite/templates/sdnrdb-service.yaml
  charts/onap-smo-lite/values.yaml
Due: none

helm,linuxptp: Update linuxptp container tag
  charts/linuxptp/values.yaml
Due: linuxptp chart

helm,onap: Add VES collector, zookeeper and kafka to helm chart
  charts/onap-smo-lite/CHANGELOG.md
  charts/onap-smo-lite/Chart.yaml
  charts/onap-smo-lite/README.md
  charts/onap-smo-lite/templates/_helpers.tpl
  charts/onap-smo-lite/templates/kafka-deployment.yaml
  charts/onap-smo-lite/templates/kafka-jaas-configmap.yaml
  charts/onap-smo-lite/templates/kafka-service.yaml
  charts/onap-smo-lite/templates/kafka-ui-deployment.yaml
  charts/onap-smo-lite/templates/kafka-ui-ingress.yaml
  charts/onap-smo-lite/templates/kafka-ui-service.yaml
  charts/onap-smo-lite/templates/sdnr-configmap.yaml
  charts/onap-smo-lite/templates/sdnr-deployment.yaml
  charts/onap-smo-lite/templates/ves-collector-configmap.yaml
  charts/onap-smo-lite/templates/ves-collector-deployment.yaml
  charts/onap-smo-lite/templates/ves-collector-service.yaml
  charts/onap-smo-lite/templates/zookeeper-deployment.yaml
  charts/onap-smo-lite/templates/zookeeper-service.yaml
  charts/onap-smo-lite/values.yaml
Due: none

helm,srsran: Update example values for o1 adapter
  charts/srsran-project/values-o1.yaml
Due: srsran-project chart

helm,srsran: Add necessary parameters for VES collector for SMO
  charts/srsran-project/templates/deployment.yaml
  charts/srsran-project/values-o1.yaml
Due: srsran-project chart

helm,srsran: Remove comments from values.yaml
  charts/srsran-project/values.yaml
Due: srsran-project chart

helm,srsran: Add WS adapter and loglevel flag for O1
  charts/srsran-project/templates/deployment.yaml
Due: srsran-project chart

helm,onap: Update example values
  charts/onap-smo-lite/values.yaml
Due: none

helm,srsran: Update O1 Adapter flags to match new image version
  charts/srsran-project/templates/deployment.yaml
Due: srsran-project chart

helm,srsran: Bump chart version to 2.3.0
  charts/srsran-project/Chart.yaml
Due: srsran-project chart

helm,linuxptp: Fix ntpdate dependency in docker image
  images/linuxptp/Dockerfile
Due: linuxptp image

helm,linuxptp: Bump chart version to 1.3.1
  charts/linuxptp/Chart.yaml
Due: linuxptp chart

docker,linuxptp: Add phc_ctl to final image
  images/linuxptp/Dockerfile
Due: linuxptp image

helm,srsran: Update Changelog
  charts/srsran-project/CHANGELOG.md
Due: srsran-project chart

helm,srsran: Fix error in restart behaviour
  charts/srsran-project/resources/entrypoint.sh
  charts/srsran-project/templates/deployment.yaml
Due: srsran-project chart

helm,srsran: Update changelog and bum to version 2.3.1
  charts/srsran-project/CHANGELOG.md
  charts/srsran-project/Chart.yaml
Due: srsran-project chart

helm,srsran: Fix hugepages getting rendered into config
  charts/srsran-project/templates/deployment.yaml
Due: srsran-project chart

readme: add OCUDU notice
  README.md
Due: none

Path conditions:
  linuxptp image: any of: images/linuxptp/**/*
  rt-tests image: any of: images/rt-tests/**/*
  grafana-deployment chart: any of: .gitlab/ci/helm_utils.yml, charts/grafana-srsran/**/*
  metrics_server chart: any of: .gitlab/ci/helm_utils.yml, charts/metrics_server/**/*
  rt-tests chart: any of: .gitlab/ci/helm_utils.yml, charts/rt-tests/**/*
  linuxptp chart: any of: .gitlab/ci/helm_utils.yml, charts/linuxptp/**/*
  ru_emulator chart: any of: .gitlab/ci/helm_utils.yml, charts/ru_emulator/**/*
  srsran-project chart: any of: .gitlab/ci/helm_utils.yml, charts/srsran-project/**/*
