Repository srsran/srsRAN_Project_helm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linuxptp image, grafana-deployment chart, metrics_server chart, linuxptp chart, ru_emulator chart, srsran-project chart

linuxptp image:
  stage: child
  variables:
    LINUXPTP_VERSION: v4.3
    CT_VERSION: 1.0.4
  trigger:
    include: images/linuxptp/.gitlab-ci.yml
    strategy: depend
  needs: []

grafana-deployment chart:
  stage: child
  trigger:
    include: charts/grafana/grafana-srsran/.gitlab-ci.yml
    strategy: depend
  needs: []

metrics_server chart:
  stage: child
  trigger:
    include: charts/grafana/metrics_server/.gitlab-ci.yml
    strategy: depend
  needs: []

linuxptp chart:
  stage: child
  trigger:
    include: charts/linuxptp/.gitlab-ci.yml
    strategy: depend
  needs: []

ru_emulator chart:
  stage: child
  trigger:
    include: charts/ru_emulator/.gitlab-ci.yml
    strategy: depend
  needs: []

srsran-project chart:
  stage: child
  trigger:
    include: charts/srsran-project/.gitlab-ci.yml
    strategy: depend
  needs: []

gh pages: Add version 1.1.0 of LinuxPTP and srsRAN Project Helm charts
  index.yaml
Due: none

gh pages: Add RU Emulator release
  index.yaml
Due: none

gh pages: Add index.yaml
  index.yaml
Due: none

gh pages: Add index.md
  index.md
Due: none

gh pages: Add SRS Grafana release
  index.yaml
Due: none

helm ru-emulator: Change description of RU Emu Helm chart
  charts/ru_emulator/Chart.yaml
Due: ru_emulator chart

helm srsran: Remove colons from timestamp used for debugging logs
  charts/srsran-project/templates/deployment.yaml
Due: srsran-project chart

all: update copyright header
  .gitlab/ci/checkers/generate_config.py
  .gitlab/ci/helm_utils.yml
  charts/grafana-srsran/.gitlab-ci.yml
  charts/grafana-srsran/Chart.yaml
  charts/grafana-srsran/values.yaml
  charts/linuxptp/.gitlab-ci.yml
  charts/linuxptp/Chart.yaml
  charts/linuxptp/resources/entrypoint-phc2sys.sh
  charts/linuxptp/resources/entrypoint-ts2phc.sh
  charts/linuxptp/templates/_helpers.tpl
  charts/linuxptp/templates/configmap.yml
  charts/linuxptp/templates/deployment.yaml
  charts/linuxptp/templates/serviceaccount.yaml
  charts/linuxptp/values.yaml
  charts/metrics_server/.gitlab-ci.yml
  charts/metrics_server/Chart.yaml
  charts/metrics_server/templates/_helpers.tpl
  charts/metrics_server/templates/deployment.yaml
  charts/metrics_server/templates/service.yaml
  charts/metrics_server/values.yaml
  charts/open5gs/5gSA-values.yaml
  charts/ru_emulator/.gitlab-ci.yml
  charts/ru_emulator/Chart.yaml
  charts/ru_emulator/templates/_helpers.tpl
  charts/ru_emulator/templates/configmap.yaml
  charts/ru_emulator/templates/deployment.yaml
  charts/ru_emulator/values.yaml
  charts/srsran-project/.gitlab-ci.yml
  charts/srsran-project/Chart.yaml
  charts/srsran-project/templates/_helpers.tpl
  charts/srsran-project/templates/configmap.yml
  charts/srsran-project/templates/deployment.yaml
  charts/srsran-project/templates/serviceaccount.yaml
  charts/srsran-project/values.yaml
Due: grafana-deployment chart, metrics_server chart, linuxptp chart, ru_emulator chart, srsran-project chart

linuxptp: Update leapseconds file for ts2phc
  charts/linuxptp/templates/configmap.yml
Due: linuxptp chart

helm linuxptp: Improve prints of livenes checks ts2phc,phc2sys
  images/linuxptp/scripts/liveness-phc2sys.sh
  images/linuxptp/scripts/liveness-ts2phc.sh
Due: linuxptp image

images: Update license header to 2025
  .gitlab-ci.yml
  .gitlab/ci/schedules.yml
  COPYRIGHT
  images/linuxptp/.gitlab-ci.yml
  images/linuxptp/Dockerfile
  images/linuxptp/scripts/liveness-phc2sys.sh
  images/linuxptp/scripts/liveness-ptp4l.sh
  images/linuxptp/scripts/liveness-ts2phc.sh
Due: linuxptp image

helm srsran: Add example values-o1.yaml for O1 setup
  charts/srsran-project/values-o1.yaml
Due: srsran-project chart

helm o1: Initial commit adding netconf server and o1_adapter
  charts/srsran-project/Chart.yaml
  charts/srsran-project/templates/configmap.yml
  charts/srsran-project/templates/deployment.yaml
  charts/srsran-project/values.yaml
Due: srsran-project chart

helm grafana: Update appVersion of Grafana Chart
  charts/grafana-srsran/Chart.yaml
Due: none

helm srsran: Fix path of gnb.yaml config template
  charts/srsran-project/templates/deployment.yaml
Due: srsran-project chart

helm srsran: Fix path for O1 config in O1 Adapter
  charts/srsran-project/templates/deployment.yaml
Due: srsran-project chart

helm srsran: Fix netconf volume specification
  charts/srsran-project/templates/deployment.yaml
Due: srsran-project chart

helm srsran: Add hal section to o1_values.yaml example
  charts/srsran-project/values-o1.yaml
Due: srsran-project chart

helm srsran: Add helpers to use sha256 digest as well as regular tag
  charts/srsran-project/templates/_helpers.tpl
  charts/srsran-project/templates/deployment.yaml
Due: srsran-project chart

helm srsran: Fix postStartHook for o1 adapter
  charts/srsran-project/templates/deployment.yaml
Due: srsran-project chart

ci: update tools ref
  .gitlab-ci.yml
  .gitlab/ci/helm_utils.yml
  charts/grafana-srsran/.gitlab-ci.yml
  charts/linuxptp/.gitlab-ci.yml
  charts/metrics_server/.gitlab-ci.yml
  charts/ru_emulator/.gitlab-ci.yml
  charts/srsran-project/.gitlab-ci.yml
  images/linuxptp/.gitlab-ci.yml
Due: linuxptp image, grafana-deployment chart, metrics_server chart, linuxptp chart, ru_emulator chart, srsran-project chart

helm srsran: retry gnb on successful shutdown
  charts/srsran-project/templates/deployment.yaml
Due: srsran-project chart

helm srsran: gnb command new format
  charts/srsran-project/templates/deployment.yaml
Due: srsran-project chart

helm rt-tests: first version
  .gitlab-ci.yml
  charts/rt-tests/.gitlab-ci.yml
  charts/rt-tests/CHANGELOG.md
  charts/rt-tests/Chart.yaml
  charts/rt-tests/README.md
  charts/rt-tests/templates/_helpers.tpl
  charts/rt-tests/templates/deployment.yaml
  charts/rt-tests/templates/serviceaccount.yaml
  charts/rt-tests/values.yaml
  images/rt-tests/.gitlab-ci.yml
  images/rt-tests/Dockerfile
Due: none

helm rt-tests: simplify helm
  charts/rt-tests/Chart.yaml
  charts/rt-tests/templates/deployment.yaml
  charts/rt-tests/templates/serviceaccount.yaml
  charts/rt-tests/values.yaml
Due: none

helm rt-tests: run multiple tools
  charts/rt-tests/templates/configmap.yml
  charts/rt-tests/templates/deployment.yaml
  charts/rt-tests/values.yaml
  images/rt-tests/Dockerfile
  images/rt-tests/run_tests.sh
Due: none

helm rt-tests: add doc, customize host path and simplify deployment
  charts/rt-tests/README.md
  charts/rt-tests/templates/_helpers.tpl
  charts/rt-tests/templates/deployment.yaml
  charts/rt-tests/values.yaml
  images/rt-tests/run_tests.sh
Due: none

helm rt-tests: move to job
  charts/rt-tests/README.md
  charts/rt-tests/templates/job.yml
  images/rt-tests/run_tests.sh
Due: none

helm srsran: Update readme file
  charts/srsran-project/README.md
Due: srsran-project chart

helm metrics-server: Add readme file
  charts/metrics_server/README.md
Due: none

helm grafana: Add readme file
  charts/grafana-srsran/README.md
Due: none

helm ru-emu: Add readme file
  charts/ru_emulator/README.md
Due: ru_emulator chart

helm open5gs: Add readme file
  charts/open5gs/README.md
Due: none

helm grafana: Remove unnecessary fields from values.yaml
  charts/grafana-srsran/values.yaml
Due: none

helm linuxptp: Add ntp time update for LLS-C1
  charts/linuxptp/resources/entrypoint-phc2sys.sh
  charts/linuxptp/templates/deployment.yaml
  charts/linuxptp/values.yaml
Due: linuxptp chart

helm srsRAN: Add comment for hostNetwork in case of LB enabled
  charts/srsran-project/values.yaml
Due: srsran-project chart

helm srsran: Add entrypoint script for gNB for SR-IOV provider
  charts/srsran-project/resources/entrypoint.sh
  charts/srsran-project/templates/configmap.yml
  charts/srsran-project/templates/deployment.yaml
  charts/srsran-project/values.yaml
Due: srsran-project chart

helm srsran: Add example values file for LB and SR-IOV plugin
  charts/srsran-project/values-lb.yaml
Due: srsran-project chart

helm srsran: Refactor comments of values.yaml
  charts/srsran-project/values.yaml
Due: srsran-project chart

Path conditions:
  linuxptp image: any of: images/linuxptp/**/*
  grafana-deployment chart: any of: .gitlab/ci/helm_utils.yml, charts/grafana/grafana-srsran/**/*
  metrics_server chart: any of: .gitlab/ci/helm_utils.yml, charts/grafana/metrics_server/**/*
  linuxptp chart: any of: .gitlab/ci/helm_utils.yml, charts/linuxptp/**/*
  ru_emulator chart: any of: .gitlab/ci/helm_utils.yml, charts/ru_emulator/**/*
  srsran-project chart: any of: .gitlab/ci/helm_utils.yml, charts/srsran-project/**/*
