Repository srsran/srsRAN_Project_helm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linuxptp image, grafana-deployment chart, metrics_server chart, linuxptp chart, ru_emulator chart, srsran-project chart

linuxptp image:
  stage: child
  variables:
    LINUXPTP_VERSION: v4.3
    CT_VERSION: 1.1.1
  trigger:
    include: images/linuxptp/.gitlab-ci.yml
    strategy: depend
  needs: []

grafana-deployment chart:
  stage: child
  trigger:
    include: charts/grafana-srsran/.gitlab-ci.yml
    strategy: depend
  needs: []

metrics_server chart:
  stage: child
  trigger:
    include: charts/metrics_server/.gitlab-ci.yml
    strategy: depend
  needs: []

linuxptp chart:
  stage: child
  trigger:
    include: charts/linuxptp/.gitlab-ci.yml
    strategy: depend
  needs: []

ru_emulator chart:
  stage: child
  trigger:
    include: charts/ru_emulator/.gitlab-ci.yml
    strategy: depend
  needs: []

srsran-project chart:
  stage: child
  trigger:
    include: charts/srsran-project/.gitlab-ci.yml
    strategy: depend
  needs: []

helm srsran: Add note for secContext for LB enabled
  charts/srsran-project/values.yaml
Due: srsran-project chart

helm srsran: Refactor identation and formatting of deployment.yaml
  charts/srsran-project/templates/deployment.yaml
Due: srsran-project chart

helm srsran: Add loadbalancer for n2, n3, o1
  charts/srsran-project/templates/deployment.yaml
  charts/srsran-project/templates/lb_service.yaml
  charts/srsran-project/values.yaml
Due: srsran-project chart

helm ru_emu: Remove comments from values file
  charts/ru_emulator/values.yaml
Due: ru_emulator chart

helm ru_emu: Add support for SR-IOV plugin
  charts/ru_emulator/resources/entrypoint.sh
  charts/ru_emulator/templates/deployment.yaml
  charts/ru_emulator/values.yaml
Due: ru_emulator chart

helm srsran: Add license header to entrypoint script
  charts/srsran-project/resources/entrypoint.sh
Due: srsran-project chart

helm srsran: Add functionality to not overwrite old logs
  charts/srsran-project/resources/entrypoint.sh
  charts/srsran-project/templates/deployment.yaml
  charts/srsran-project/values.yaml
Due: srsran-project chart

helm srsran: Fix env variable inclusion
  charts/srsran-project/templates/deployment.yaml
Due: srsran-project chart

helm srsran: Preserve logs by creating a folder instead of appending timestamp
  charts/srsran-project/resources/entrypoint.sh
Due: srsran-project chart

helm open5gs: Add manifest example for PV and PVC for mongodb
  charts/open5gs/open5gs-pv-pvc.yaml
Due: none

helm srsran: Forward SIGTERM in case pod gets killed
  charts/srsran-project/resources/entrypoint.sh
Due: srsran-project chart

helm linuxptp: Bump linuxptp chart to version 1.2.0
  charts/linuxptp/Chart.yaml
Due: linuxptp chart

helm ru_emu: Bump ru emulator chart to version 1.1.0
  charts/ru_emulator/Chart.yaml
Due: ru_emulator chart

helm srsran: Bump srsRAN gnb chart to version 2.1.0
  charts/srsran-project/Chart.yaml
Due: srsran-project chart

gh pages: Add version 1.1.0 of LinuxPTP and srsRAN Project Helm charts
  index.yaml
Due: none

gh pages: Add SRS Grafana release
  index.yaml
Due: none

gh pages: Add index.yaml
  index.yaml
Due: none

gh pages: Add RU Emulator release
  index.yaml
Due: none

gh pages: Add Metrics Server release
  index.yaml
Due: none

gh pages: Add index.md
  index.md
Due: none

gh pages: Add _config.yml
  _config.yml
Due: none

gh_pages: Update all new versions and add new releases
  index.yaml
Due: none

helm linuxptp: Forward SIGTERM in entrypoint script in ts2phc,phc2sys
  charts/linuxptp/resources/entrypoint-phc2sys.sh
  charts/linuxptp/resources/entrypoint-ts2phc.sh
Due: linuxptp chart

helm metrics_server: Add Changelog
  charts/metrics_server/CHANGELOG.md
Due: metrics_server chart

helm ru_emu: Add Changelog
  charts/ru_emulator/CHANGELOG.md
Due: ru_emulator chart

helm ru_emu: Forward SIGTERM in entrypoint script
  charts/ru_emulator/resources/entrypoint.sh
Due: ru_emulator chart

helm metrics_server: Bump chart version to 1.2.0
  charts/metrics_server/Chart.yaml
Due: metrics_server chart

helm srsran: Forward SIGINT in entrypoint script to child proc
  charts/srsran-project/resources/entrypoint.sh
Due: srsran-project chart

helm linuxptp: Update changelog
  charts/linuxptp/CHANGELOG.md
Due: linuxptp chart

helm srsran: Update changelog
  charts/srsran-project/CHANGELOG.md
Due: srsran-project chart

helm grafana: Add changelog
  charts/grafana-srsran/CHANGELOG.md
Due: grafana-deployment chart

helm grafana: Bump version to 1.2.0
  charts/grafana-srsran/Chart.yaml
Due: grafana-deployment chart

helm srsran: Improve hostnetwork adaption for gnb Pod
  charts/srsran-project/resources/entrypoint.sh
  charts/srsran-project/templates/_helpers.tpl
  charts/srsran-project/templates/deployment.yaml
Due: srsran-project chart

helm srsran: Save stdout in seperate file
  charts/srsran-project/resources/entrypoint.sh
Due: srsran-project chart

helm srsran: Create symlink to current log folder
  charts/srsran-project/resources/entrypoint.sh
Due: srsran-project chart

helm srsran: Fix return value of update_config_paths()
  charts/srsran-project/resources/entrypoint.sh
Due: srsran-project chart

helm srsran: Fix default value of PRESERVE_OLD_LOGS
  charts/srsran-project/resources/entrypoint.sh
Due: srsran-project chart

helm srsran: Fix symlink path in entrypoint
  charts/srsran-project/resources/entrypoint.sh
Due: srsran-project chart

helm srsran: Fix symlink
  charts/srsran-project/resources/entrypoint.sh
Due: srsran-project chart

images linuxptp: Install ntpupdate in linuxptp image
  images/linuxptp/Dockerfile
Due: linuxptp image

Path conditions:
  linuxptp image: any of: images/linuxptp/**/*
  grafana-deployment chart: any of: .gitlab/ci/helm_utils.yml, charts/grafana-srsran/**/*
  metrics_server chart: any of: .gitlab/ci/helm_utils.yml, charts/metrics_server/**/*
  linuxptp chart: any of: .gitlab/ci/helm_utils.yml, charts/linuxptp/**/*
  ru_emulator chart: any of: .gitlab/ci/helm_utils.yml, charts/ru_emulator/**/*
  srsran-project chart: any of: .gitlab/ci/helm_utils.yml, charts/srsran-project/**/*
