Repository srsran/srsRAN_Project_helm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Ubuntu-22.04-UHD, Ubuntu-22.04-OFH, linuxptp

Ubuntu-22.04-UHD:
  stage: child
  variables:
    SRSRAN_VERSION: '2023.5'
    CONTEXT: /builds/softwareradiosystems/ci/srsgnb_k8s/images
    UHD_VERSION: UHD-4.1
    DPDK_VERSION: dpdk-23.07
    SOFTWARE_USED: $UHD_VERSION
    DOCKERFILE: images/Ubuntu-2204/UHD
    CT_VERSION: 1.0.0
  trigger:
  ...

Ubuntu-22.04-OFH:
  stage: child
  variables:
    SRSRAN_VERSION: '2023.5'
    CONTEXT: /builds/softwareradiosystems/ci/srsgnb_k8s/images
    UHD_VERSION: UHD-4.1
    DPDK_VERSION: dpdk-23.07
    SOFTWARE_USED: $DPDK_VERSION
    DOCKERFILE: images/Ubuntu-2204/OFH
    CT_VERSION: 1.0.0
  trigger:
  ...

linuxptp:
  stage: child
  variables:
    LINUXPTP_VERSION: v4.1
    CT_VERSION: 1.0.0
  trigger:
    include: images/linuxptp/.gitlab-ci.yml
    strategy: depend
  needs: []

All: Rework README files
  README.md
  charts/linuxptp/README.md
  charts/srsran-project/README.md
  images/README.md
  images/Ubuntu-2204/README.md
  images/linuxptp/README.md
Due: linuxptp

linuxptp, helm: Convert Deployment to DaemonSet
  charts/linuxptp/templates/deployment.yaml
  charts/linuxptp/values.yaml
Due: none

license: Add license header and COPYRIGHT
  .gitlab-ci.yml
  .gitlab/ci/schedules.yml
  COPYRIGHT
  charts/linuxptp/Chart.yaml
  charts/linuxptp/resources/entrypoint-phc2sys.sh
  charts/linuxptp/templates/_helpers.tpl
  charts/linuxptp/templates/configmap.yml
  charts/linuxptp/templates/deployment.yaml
  charts/linuxptp/templates/serviceaccount.yaml
  charts/linuxptp/values.yaml
  charts/srsran-project/Chart.yaml
  charts/srsran-project/templates/_helpers.tpl
  charts/srsran-project/templates/configmap.yml
  charts/srsran-project/templates/deployment.yaml
  charts/srsran-project/templates/serviceaccount.yaml
  charts/srsran-project/values.yaml
  images/Ubuntu-2204/.gitlab-ci.yml
  images/Ubuntu-2204/OFH/Dockerfile
  images/Ubuntu-2204/UHD/Dockerfile
  images/linuxptp/.gitlab-ci.yml
  images/linuxptp/Dockerfile
  images/linuxptp/scripts/liveness-phc2sys.sh
  images/linuxptp/scripts/liveness-ptp4l.sh
Due: Ubuntu-22.04-UHD, Ubuntu-22.04-OFH, linuxptp

helm srsran: Add cli parameter to autostart console log
  charts/srsran-project/templates/deployment.yaml
Due: none

helm: Change values in values.yml
  charts/linuxptp/values.yaml
  charts/srsran-project/gnb-config-uhd.yml.example
  charts/srsran-project/values.yaml
Due: none

helm srsran: Remove unnecessary configs
  charts/srsran-project/gnb-config-uhd.yml.example
  charts/srsran-project/gnb-config.yml
  charts/srsran-project/orange_config.yml
Due: none

ci: Bumb versions of linuxptp and srsran images
  .gitlab-ci.yml
Due: none

Image srsran UHD: Clone from public repo instead of local copy
  .gitmodules
  images/Ubuntu-2204/UHD/Dockerfile
Due: Ubuntu-22.04-UHD

helm srsran: Make all values dynamically configurable
  charts/linuxptp/README.md
  charts/linuxptp/linuxptp.cfg
  charts/linuxptp/values.yaml
  charts/srsran-project/README.md
  charts/srsran-project/gnb-config.yml
  charts/srsran-project/orange_config.yml
  charts/srsran-project/templates/configmap.yml
  charts/srsran-project/values.yaml
Due: none

helm charts: Update image repos and remove comments
  charts/linuxptp/templates/deployment.yaml
  charts/linuxptp/values.yaml
  charts/srsran-project/values.yaml
Due: none

images Ubuntu: Shrink images by using builder
  images/Ubuntu-2204/OFH/Dockerfile
  images/Ubuntu-2204/UHD/Dockerfile
Due: Ubuntu-22.04-UHD, Ubuntu-22.04-OFH

images: remove open5gs, update linuxptp Dockerfile
  images/linuxptp/Dockerfile
  images/open5gs/Dockerfile
  images/open5gs/open5gs_entrypoint.sh
Due: linuxptp

helm linuxptp: Use 1CT for ptp4l and phc2syhs
  charts/linuxptp/templates/deployment.yaml
Due: none

ci: Change repo URI to public docker hub
  images/Ubuntu-2204/.gitlab-ci.yml
  images/linuxptp/.gitlab-ci.yml
Due: Ubuntu-22.04-UHD, Ubuntu-22.04-OFH, linuxptp

linuxptp image,helm: Add liveness and startup probe
  charts/linuxptp/resources/entrypoint-phc2sys.sh
  charts/linuxptp/resources/entrypoint.sh
  charts/linuxptp/templates/configmap.yml
  charts/linuxptp/templates/deployment.yaml
  charts/linuxptp/values.yaml
  images/linuxptp/Dockerfile
  images/linuxptp/scripts/liveness-phc2sys.sh
  images/linuxptp/scripts/liveness-ptp4l.sh
Due: linuxptp

helm linuxptp: Refactor values and config
  charts/linuxptp/linuxptp.cfg
  charts/linuxptp/resources/entrypoint.sh
  charts/linuxptp/templates/configmap.yml
  charts/linuxptp/values.yaml
Due: none

srsran helm: Disable autostart metrics
  charts/srsran-project/templates/deployment.yaml
Due: none

helm: Updated version and README for release of v1.0.0
  charts/linuxptp/CHANGELOG.md
  charts/linuxptp/Chart.yaml
  charts/linuxptp/README.md
  charts/srsran-project/CHANGELOG.md
  charts/srsran-project/Chart.yaml
  charts/srsran-project/README.md
Due: none

Add Helm chart for srsRAN Project CU/DU
  helmchart/CAHNGELOG.md
  helmchart/Chart.yaml
  helmchart/README.md
  helmchart/gnb-config.yml
  helmchart/templates/_helpers.tpl
  helmchart/templates/configmap.yml
  helmchart/templates/deployment.yaml
  helmchart/templates/serviceaccount.yaml
  helmchart/values.yaml
Due: none

Move srsRAN Project Helm chart to dedicated folder
  helmchart/srsran-project/CAHNGELOG.md
  helmchart/srsran-project/Chart.yaml
  helmchart/srsran-project/README.md
  helmchart/srsran-project/gnb-config.yml
  helmchart/srsran-project/templates/_helpers.tpl
  helmchart/srsran-project/templates/configmap.yml
  helmchart/srsran-project/templates/deployment.yaml
  helmchart/srsran-project/templates/serviceaccount.yaml
  helmchart/srsran-project/values.yaml
Due: none

linuxptp/srsran ct: Add schedule
  .gitlab-ci.yml
Due: none

helm srsran: Rename service account
  helmchart/srsran-project/gnb-config.yml
  helmchart/srsran-project/values.yaml
Due: none

helm srsran: Refactor requests/limits in deployment.yaml
  helmchart/srsran-project/templates/deployment.yaml
Due: none

Image srsran OFH: Clone from public repo instead of local copy
  images/Ubuntu-2204/OFH/Dockerfile
Due: Ubuntu-22.04-OFH

helm srsran: Add requests for 6 cores
  helmchart/srsran-project/values.yaml
Due: none

linuxptp: Define ptp interface name in values.yml
  helmchart/linuxptp/entrypoint.sh
  helmchart/linuxptp/templates/deployment.yaml
  helmchart/linuxptp/values.yaml
Due: none

helm srsran: Update config with newest config options
  helmchart/srsran-project/gnb-config.yml
Due: none

helm: Rename charts folder
  charts/linuxptp/CHANGELOG.md
  charts/linuxptp/Chart.yaml
  charts/linuxptp/README.md
  charts/linuxptp/entrypoint.sh
  charts/linuxptp/linuxptp.cfg
  charts/linuxptp/templates/_helpers.tpl
  charts/linuxptp/templates/configmap.yml
  charts/linuxptp/templates/deployment.yaml
  charts/linuxptp/templates/serviceaccount.yaml
  charts/linuxptp/values.yaml
  charts/srsran-project/CHANGELOG.md
  charts/srsran-project/Chart.yaml
  charts/srsran-project/README.md
  charts/srsran-project/gnb-config-uhd.yml
  charts/srsran-project/gnb-config.yml
  charts/srsran-project/templates/_helpers.tpl
  charts/srsran-project/templates/configmap.yml
  charts/srsran-project/templates/deployment.yaml
  charts/srsran-project/templates/serviceaccount.yaml
  charts/srsran-project/values.yaml
  helmchart/linuxptp/entrypoint.sh
Due: none

linux ptp ct: Remove faulty variable
  images/linuxptp/.gitlab-ci.yml
Due: linuxptp

srsran/linuxptp ct: Bumb ct version
  .gitlab-ci.yml
Due: none

Path conditions:
  Ubuntu-22.04-UHD: any of: images/Ubuntu-2204/UHD/**/*, images/Ubuntu-2204/.gitlab-ci.yml
  Ubuntu-22.04-OFH: any of: images/Ubuntu-2204/OFH/**/*, images/Ubuntu-2204/.gitlab-ci.yml
  linuxptp: any of: images/linuxptp/**/*
